<div class="main-title-box">
  <div class = "">
      <img src="images/download_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar user=userLoggedIn.name basketPage=true}}

{{#if error }}
  <h1 class = "error-message">{{this.errormessage}}</h1>
{{/if}}

{{#unless error}}
<h4 class="title-content" id="downloads-title"></h4> <!--this needs to be empty for navbar select script to work-->
<div class="dropdown">
  <button class="dropbtn">SORT</button>
  <div class="dropdown-content">
    <a href="/downloads/lowtohigh">Price Low to High</a>
    <a href="/downloads/hightolow">Price High to Low</a>
    <a href="/downloads/all">View All</a>
    <a href="/downloads/">Select Category</a>
  </div>
</div>
{{/unless}}

<div class="content-box downloads-container">

{{#if category}}
<h4 class="title-content-center">Categories</h4>
{{/if}}

{{#if downloads}}
<h4 class="title-content-center">Downloads</h4>
{{/if}}

{{#each category}}
<div class="category-box">
  <div class="comments-box-inner">
    <p class="category-name title-content"><a href="/downloads{{this.url}}" >{{ this.categoryName }}</a></p><br />
    <p class="category-description">{{ this.categoryDescription }}</p><br />
    <p class="category-description">{{ this.categoryId }}</p><br />
  </div>
</div>
{{/each}}

<div class = "downloads-box-box">
{{#each downloads}}
  <div class="downloads-box">
      <p class="downloads-name title-content">  {{ this.productName }}</p><br />
      <img class="downloads-image" src="images/comingsoon.png"  alt=" " /><br />
      <p class="downloads-description">{{ this.productDescription }}</p><br />
      <p class="downloads-price">{{ this.productPrice }}</p><br />
      <button type="submit" class="downloads-submit"><a  href="/downloads{{ this.url }}/add_product/{{ this.productId }}">Add to Basket</a></button>
  </div>
{{/each}}
</div>

</div>

{{> footer }}
