<div class="main-title-box">
  <div class = "">
      <img src="images/download_text.png" alt="main_text" class="page_title_text" />
  </div>
</div>

{{> navbar }}

<div>
      <span class="arrow">></span>
      <span class="dash">_</span>
 </div>

 {{#if orderId}}
 <h4 class="title-flash">Your Receipt : Order #{{this.orderId}}</h4>
 {{/if}}

{{#each receiptDetails}}
<div class="downloads-box">
    <p class="downloads-name title-content">  {{ this.name }}</p></br>
    <p class="downloads-price">{{ this.price }}</p></br>
    <img class="downloads-image" src = {{ this.image }} alt=" " /></br>
</div>
{{/each}}

{{#if receiptDetails}}
<div class="downloads-box">
    <p class="downloads-name title-content"> $ {{ this.orderprice }}</p></br>
{{/if}}
{{#if orderId}}
    <p class="downloads-name title-content">  {{ this.orderId }}</p></br>
</div>
{{/if}}


{{> footer }}
